# Add application configuration variables here, as shown below.
#
# Change this, it has serious security implications.
# Minimum 30 but usually 128 characters. To obtain run 'rake secret', or faster, 'openssl rand -hex 128'
SECRET_TOKEN: {{ secret_token }}

TIMEZONE: {{ timezone }}
# Default country for dropdowns etc. See for codes: http://en.wikipedia.org/wiki/ISO_3166-1
DEFAULT_COUNTRY_CODE: {{ country_code }}
# Locale for translation.
LOCALE: {{ locale }}
AVAILABLE_LOCALES: {{ available_locales|default(locale) }}

# Find currency codes at http://en.wikipedia.org/wiki/ISO_4217.
CURRENCY: {{ currency }}
# Spree zone.
CHECKOUT_ZONE: {{ checkout_zone }}

GOOGLE_MAPS_API_KEY: {{ google_maps_api_key }}

S3_ACCESS_KEY: {{ s3_access_key }}
S3_SECRET: {{ s3_secret }}

STRIPE_CLIENT_ID: {{ stripe_client_id }}
STRIPE_INSTANCE_SECRET_KEY: {{ stripe_instance_secret_key }}
