#!/bin/sh

set -e

APP_PATH="$HOME/apps/openfoodnetwork"
CURRENT_PATH="{{ current_path }}"
SHARED_PATH="{{ shared_path }}"
CONFIG_PATH="{{ config_path }}"
BUNDLE="$HOME/.rbenv/shims/bundle"
GEM_PATH="{{ gem_path }}"
APP="{{ app }}"
RAILS_ENV="{{ rails_env }}"

# We need ruby to call script/delayed_job
export PATH="$HOME/.rbenv/shims:$PATH"

cd "$CURRENT_PATH" || exit 1

unset GIT_DIR
NEWREF=$(cat /dev/stdin | cut -d ' ' -f 2)

# Check out the new revision
git reset --hard $NEWREF

# Symlink shared files
rm -f "$CURRENT_PATH/config/database.yml"
ln -s "$CONFIG_PATH/database.yml" "$CURRENT_PATH/config/database.yml"

# Install the required gems
# Note: the 'LANG=en_US.UTF-8' is a fix for jquery-rails 1.0.17...fails even though server has correct locale setting
LANG=en_US.UTF-8 $BUNDLE install --gemfile "$CURRENT_PATH/Gemfile" --path "$GEM_PATH" --deployment --without development test

# Update the DB schema
$BUNDLE exec rake RAILS_ENV=$RAILS_ENV db:migrate

# Clear cache to regenerate translations for i18n-js
echo "Doing tmp:cache:clear..."
$BUNDLE exec rake tmp:cache:clear

# Note: Calling standard assets:precompile is overkill and chews up heaps of memory.
#       Hence do steps one-by-one
#echo Doing total bundle install thing
#$BUNDLE exec rake RAILS_ENV=$RAILS_ENV assets:precompile RAILS_GROUPS=assets
echo Doing asset:precompile:primary...
$BUNDLE exec rake RAILS_ENV=$RAILS_ENV assets:precompile:primary RAILS_GROUPS=assets
echo Doing asset:precompile:nondigest...
$BUNDLE exec rake RAILS_ENV=$RAILS_ENV assets:precompile:nondigest RAILS_GROUPS=assets

# Install cron jobs
$BUNDLE exec whenever --set 'environment=$RAILS_ENV' --update-crontab

# Stop the rails process.
echo "Stopping unicorn..."
service "unicorn_$APP" stop

# Kill any DJ workers. Monit will restart them automatically
RAILS_ENV=$RAILS_ENV $BUNDLE exec ./script/delayed_job -i 0 stop

# Restart the unicorns
# TODO: Find out why new Gems are not loaded despite "Refreshing Gem list".
#echo "Restarting unicorn..."
#service "unicorn_$APP" restart

# Start the rails process.
echo "Starting unicorn..."
service "unicorn_$APP" start

# Tell bugsnag about the deploy, keeps the error history clean
if [ -f "$CURRENT_PATH/config/initializers/bugsnag.rb" ]; then
    echo Notifying bugsnag...
    $BUNDLE exec rake RAILS_ENV=$RAILS_ENV bugsnag:deploy TO=$RAILS_ENV
fi
echo Done.
