{{ template_notice }}

development:
  adapter: postgresql
  encoding: unicode
  database: {{ db }}
  pool: 5
  username: {{ db_user }}
  password: {{ db_password }}
  host: {{ db_host }}

staging:
  adapter: postgresql
  encoding: unicode
  database: {{ db }}
  pool: 5
  username: {{ db_user }}
  password: {{ db_password }}
  host: {{ db_host }}

test:
  adapter: postgresql
  encoding: unicode
  database: {{ db }}
  pool: 5
  username: {{ db_user }}
  password: {{ db_password }}
  host: {{ db_host }}

production:
  adapter: postgresql
  encoding: unicode
  database: {{ db }}
  pool: 5
  username: {{ db_user }}
  password: {{ db_password }}
  host: {{ db_host }}
