[defaults]
roles_path = ./community:./roles
inventory = ./inventory/hosts
forks = 10

callback_whitelist = profile_tasks


# Needed to resolve a problem with task output
[ssh_connection]
pipelining = True
control_path = %(directory)s/%%h-%%r
