# Ansible community package
# https://github.com/ansible-community/ansible-build-data
ansible==3.0.0

# This version doesn't work with the current Ansible version.
# But upgrading seems to break the build.
# TODO: upgrade ans fix ansible-lint
#ansible-lint==4.2.0
yamllint==1.21.0
jinja2<3.1
