---

domain: openfoodnetwork.org.au
host_id: au-prod
rails_env: production

admin_email: core-devs@openfoodnetwork.org.au

mail_domain: openfoodnetwork.org

# Optional list of subdomains to register in letsencrypt certificate
# Defaults to {{ domain }} if list is undefined
certbot_domains:
  - openfoodnetwork.org.au
  - www.openfoodnetwork.org.au

# Size in bytes. You can also use units like 1G, 512MiB or 1000KB. See: `man fallocate`
# The default is `false`, not installing a swapfile.
swapfile_size: 4G

puma_timeout: 120

# Enable external database access for third party integrations
postgres_listen_addresses:
  - '*'

custom_hba_entries:
  - "{{ custom_hba_metabase }}"
  - "{{ custom_hba_metabase_IPv6 }}"
  - "{{ custom_hba_n8n }}"
  - "{{ custom_hba_n8n_IPv6 }}"
  - "{{ custom_hba_zapier_1 }}"
  - "{{ custom_hba_zapier_2 }}"
  - { type: hostssl, database: "{{ db }}", user: zapier, address: '54.86.9.50/32', auth_method: md5 }

# Images settings
attachment_path: "public/images/spree/products/:id/:style/:basename.:extension"
attachment_url: ofn_production.s3.us-east-1.amazonaws.com

vine_api_url: "https://vine.openfoodnetwork.org.au/api/v1"
