# Open Food Network Unicorn systemd service

[Unit]
Description=Open Food Network unicorn server

[Service]
Type=forking
User=openfoodnetwork
WorkingDirectory={{ current_path }}
EnvironmentFile={{ shared_path }}/unicorn_environment

SyslogIdentifier=openfoodnetwork-unicorn
PIDFile={{ unicorn_pid }}

ExecStart={{ bundle_path }} exec --keep-file-descriptors unicorn -D -c {{ unicorn_config }} -E {{ rails_env }}
ExecStop=/bin/kill -QUIT $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
