ofn_deployment_droplet_id: {{ ofn_test_droplet.droplet.id }}
ofn_deployment_droplet_ip_address: {{ ofn_test_droplet.droplet.ip_address }}

ofn_deployment_key_id: {{ ofn_deploy_key.ssh_key.id }}
ofn_deployment_key_name: test.ofn-deploy.{{ timestamp }}
