--- # Setup a default user - needs to be run as root.
- name: create deploy user
  user:
    name="{{ user }}"
    groups=adm,dialout,cdrom,floppy,audio,dip,video,plugdev,sudo
    append=yes
    state=present
    shell=/bin/bash

- name: add custom sudoer file
  template:
    src: sudoers.j2
    dest: "/etc/sudoers.d/{{ user }}"
    mode: 0440
