---

- name: restart sidekiq
  service:
    name: sidekiq
    state: restarted
  become: yes
  become_user: root

- name: update whenever
  command: bash -lc "bundle exec whenever -i ofn --set 'environment={{ rails_env }}&path={{ current_path }}' --update-crontab"
  changed_when: True
  args:
    chdir: "{{ current_path }}"

- name: clear rails cache
  command: bash -lc "bundle exec bin/rails runner Rails.cache.clear RAILS_ENV={{ rails_env }}"
  args:
    chdir: "{{ current_path }}"
