---

# Make sure to insert secure passwords!!


db_password:

admin_password:


# Secret Token
# This is required to verify session. It must be at least 30 characters and
# random. This must be changed for a production server.
# Generate one with a bash command like: openssl rand -hex 128
secret_token: 'xxxxxx'

# Create a Google Maps API key and enable Javascript and Places libraries
google_maps_api_key:

# Set these if using Amazon S3
#s3_access_key:
#s3_secret:
#s3_images_bucket:
#s3_region:
#s3_backups_bucket:
#s3_backups_region:

# Stripe Connect API keys
# Find these under 'API keys' and 'Connect' in your Stripe account dashboard -> Account Settings
# Under 'Connect', the Redirect URI should be set to https://YOUR_SERVER_URL/stripe/callbacks (e.g. https://openfoodnetwork.org.uk/stripe/callbacks)
# Under 'Webhooks', you should set up a Connect endpoint pointing to https://YOUR_SERVER_URL/stripe/webhooks e.g. (https://openfoodnetwork.org.uk/stripe/webhooks)
# Different keys can be made for testing or live environments
stripe_client_id: # ca_xxxx
stripe_instance_secret_key: # sk_xxxx
stripe_instance_publishable_key: # pk_xxxx
stripe_endpoint_secret: # whsec_xxxx

# Skylight's API key. This enables performance instrumentation through Skylight. See https://github.com/openfoodfoundation/openfoodnetwork/pull/2070 for details.
#skylight_authentication: ""

# Mail settings
mail_host:
mail_port:
smtp_username:
smtp_password:

# Optional mail settings
## Connection type 'TLS' means STARTTLS usually on port 587
## Connection type 'SSL' means SSL/TLS usually on port 465
# mail_secure_connection: 'TLS'
# mails_from: from_address@example.com
# mail_bcc: bcc_me@example.com

# Datadog monitoring. See
# https://github.com/openfoodfoundation/ofn-install/issues/287 for details.
# Note we have a single OFN account where all servers send their metrics to.
#
# datadog_key: 'API_key_for_the_OFN_account'

# Bugsnag collects all errors and notifies you.
# https://github.com/openfoodfoundation/ofn-install/wiki/Issue-reporting
#
#bugsnag_key: ''


# Example settings for integrations like Zapier.
# ----------------------------------------------
# Generate a strong password with this command: `openssl rand -hex 128`.
#
# You can add one or multiple entries using the lists (with dashes), then run
# the `db_integrations.yml` playbook on the target server. Then, provision the
# server for the changes on the datadog agent to take place.
#
# To disable an integration, change the `state` key from `present` to: `absent`,
# remove the custom_* entries, then run the db_integrations.yml playbook again.

#db_integrations:
#  - { user: zapier, state: present, password: incredibly_strong_password_goes_here }


# For Datadog you will need the following:
#
#datadog_db_password: secure_password_goes_here
#
#db_integrations:
#  - { user: datadog, state: present, password: "{{ datadog_db_password }}" }

