--- # App

# Setup shared files and folders

- name: make dirs
  file: path={{ item }} state=directory owner={{ user }}
  with_items:
    - "{{ app_path }}"
    - "{{ shared_path }}"
    - "{{ backup_path }}"
    - "{{ releases_path }}"
    - "{{ assets_path }}"
    - "{{ system_path }}"
    - "{{ spree_path }}"
    - "{{ log_path }}"
    - "{{ pid_path }}"
    - "{{ sock_path }}"
    - "{{ config_path }}"
 ttags: dirs

- name: copy seeds.rb
  copy: src=seeds.rb dest={{ config_path }}/seeds.rb
  tags: app_templates

- name: template files
  template: src={{ item.src }} dest={{ item.dest }} owner={{ user }} mode=775
  with_items:
    - { src: "post-receive.j2", dest: "{{ config_path }}/post-receive" }
    - { src: "postgresql.yml.j2", dest: "{{ config_path }}/database.yml" }
    - { src: "seed.sh.j2", dest: "{{ config_path }}/seed.sh" }
    - { src: "application.yml.j2", dest: "{{ config_path }}/application.yml" }
  tags: app_templates

- name: copy the bugsnag file into the shared folder
  template: src=bugsnag.rb.j2 dest={{ config_path }}/bugsnag.rb mode=775
  tags: app_templates
  when: bugsnag_key != "none"

- name: copy the newrelic file into the shared folder
  template: src=newrelic.yml.j2 dest={{ config_path }}/newrelic.yml owner={{ user }} mode=775
  tags: app_templates
  when: newrelic_key != "none"

- name: copy the s3 file to the shared folder
  template: src=s3.yml dest={{ config_path }}/s3.yml owner={{ user }} mode=775
  tags: app_templates
  when: s3_bucket != "none"

- name: get i10n repo
  git: repo={{ i10n_repo }} dest={{ i10n_path }} force=yes
  tags: i10n

# Cron. TODO use ansible cron module for this.
- name: generate the crontab file for automated backups
  template: src=crontab.j2 dest={{ home_path }}/crontab
  tags: app_templates

- name: setup cron for the user
  sudo: yes
  command: "crontab -u {{ user }} {{ home_path }}/crontab"
