RAILS_ENV={{ rails_env }}

{% if skylight_authentication is defined %}
  SKYLIGHT_AUTHENTICATION={{ skylight_authentication }}
{% endif %}

MAIL_HOST={{ mail_host }}
MAIL_PORT={{ mail_port }}
SMTP_USERNAME={{ smtp_username }}
SMTP_PASSWORD={{ smtp_password }}
DOMAIN={{ domain }}
