RAILS_ENV={{ rails_env }}

MAIL_DOMAIN={{ mail_domain }}
MAIL_HOST={{ mail_host }}
MAIL_PORT={{ mail_port }}
{% if mail_secure_connection is defined %}
  MAIL_SECURE_CONNECTION={{ mail_secure_connection  }}
{% endif %}
SMTP_USERNAME={{ smtp_username }}
SMTP_PASSWORD={{ smtp_password }}
{% if mails_from is defined %}
  MAILS_FROM={{ mails_from }}
{% endif %}
{% if mail_bcc is defined %}
  MAIL_BCC={{ mail_bcc }}
{% endif %}

{% if db_user is defined %}
OFN_DB_USERNAME={{ db_user }}
{% endif %}

{% if db_password is defined %}
OFN_DB_PASSWORD={{ db_password }}
{% endif %}

MEMCACHED_VALUE_MAX_MEGABYTES={{ memcached_value_max_megabytes }}
