# unicorn user needs passwordless sudo for concrete commands
{{ unicorn_user }} ALL=(ALL) NOPASSWD: /bin/systemctl status unicorn_{{ app }}.service, /bin/systemctl start unicorn_{{ app }}.service, /bin/systemctl stop unicorn_{{ app }}.service, /bin/systemctl restart unicorn_{{ app }}.service
