--- # common

- name: update apt
  apt:
    update_cache=yes
  become: yes

  #TODO remove unnecesary packages from this list.
- name: install base packages
  apt:
    pkg={{ item }}
    state=present
  become: yes
  with_items:
    - build-essential
    - git-core
    - nodejs
    - imagemagick
    - fail2ban
    - curl
    - python-pycurl
    - python-psycopg2 # needed for some ansible libraries
    - python-software-properties
    - libpq-dev
    - unattended-upgrades
    - tklib
    - zlib1g-dev
    - libssl-dev
    #- libreadline-gplv2-dev
    - libxml2
    - libxml2-dev
    - libxslt1-dev
    - memcached
    - ranger
    - monit
    #- fontconfig # needed for phantomjs
    #- nfs-common # make virtualbox faster

- name: configure monit
  template:
    src=monit.j2
    dest=/etc/monit/conf.d/{{ app }}
  become: yes
