--- # webserver

- name: provision service files
  template:
    src={{ item.src }}
    dest={{ item.dest }}
    mode="0744"
    owner={{ unicorn_user }}
    group={{ unicorn_user }}
  become: yes
  with_items:
    - { src: "unicorn.service.j2", dest: "/etc/systemd/system/unicorn_{{ app }}.service" }
    - { src: "unicorn_environment.j2", dest: "{{ shared_path }}/unicorn_environment" }
    - { src: "delayed_job.service.j2", dest: "/etc/systemd/system/delayed_job_{{ app }}.service" }
  register: unicorn_service_files
  notify:
    - restart nginx
    - restart unicorn if running
  tags: init

- name: provision unicorn config
  template:
    src: unicorn.rb.j2
    dest: "{{ config_path }}/unicorn.rb"
    mode: 0744
    owner: "{{ unicorn_user }}"
    group: "{{ unicorn_user }}"
  become: yes
  tags: unicorn_config
  notify: reload unicorn configs

- name: Reload systemd
  systemd:
    daemon_reload: yes
  become: yes
  become_user: root
  when: unicorn_service_files.changed
  tags:
    - init
    - skip_ansible_lint # The alternative involves flushing all handlers at this point, and we don't want to

- name: Enable unicorn unit
  service:
    name: "unicorn_{{ app }}"
    enabled: yes
  become: yes
  tags: init

- name: Enable delayed_job unit
  service:
    name: "delayed_job_{{ app }}"
    enabled: yes
  become: yes
  tags: init
