---
- name: PostgreSQL production tuning
  hosts: ofn_servers
  remote_user: "{{ user }}"

  tasks:
    - name: Gather postgres installation details
      include_role:
        name: geerlingguy.postgresql
        tasks_from: variables

    - name: Create postgres conf.d directory
      file:
        dest: "{{ postgresql_config_path }}/conf.d"
        state: directory
      become: yes

    - name: Enable conf.d directory
      lineinfile:
        path: "{{ postgresql_config_path }}/postgresql.conf"
        line: "include_dir 'conf.d'"
      become: yes

    - name: Add tuning configuration
      copy:
        content: |
          shared_buffers = {{ ( ansible_memtotal_mb / 4 ) | int }}MB
          effective_cache_size = {{ ( ( ansible_memtotal_mb / 4 ) * 3 ) | int }}MB
          maintenance_work_mem = {{ ( ansible_memtotal_mb / 16 ) | int }}MB
          wal_buffers = 16MB
          work_mem = 6MB
        dest: "{{ postgresql_config_path }}/conf.d/tuning.conf"
      become: yes
      notify: reload postgres
      when: remove_postgres_tuning is undefined

    - name: Optionally remove tuning configuration
      file:
        path: "{{ postgresql_config_path }}/conf.d/tuning.conf"
        state: absent
      when: remove_postgres_tuning is defined

  handlers:
    - name: reload postgres
      service:
        name: postgresql
        state: reloaded
      become: yes
