---

domain: coopcircuits.fr
host_id: fr-prod
rails_env: production

admin_email: admin@coopcircuits.fr

mail_domain: coopcircuits.fr

puma_timeout: 120

certbot_domains:
  - coopcircuits.fr
  - www.coopcircuits.fr

# Size in bytes. You can also use units like 1G, 512MiB or 1000KB. See: `man fallocate`
# The default is `false`, not installing a swapfile.
swapfile_size: 1G

postgres_listen_addresses:
  - '*'

custom_hba_entries:
  - "{{ custom_hba_metabase }}"
  - "{{ custom_hba_metabase_IPv6 }}"
  - "{{ custom_hba_n8n }}"
  - "{{ custom_hba_n8n_IPv6 }}"
  - "{{ custom_hba_zapier_1 }}"
  - "{{ custom_hba_zapier_2 }}"
  - { type: hostssl, database: "{{ db }}", user: zapier, address: '54.86.9.50/32', auth_method: md5 }

attachment_path: "home/openfoodnetwork/apps/openfoodnetwork/current/public/spree/products/:id/:style/:basename.:extension"
attachment_url: ofn-prod.s3.us-east-1.amazonaws.com

rack_timeout_term_on_timeout: 3
